[submodule "deps/submodules/asmk"]
	path = deps/submodules/asmk
	url = https://github.com/HantigC/asmk.git
[submodule "deps/submodules/gim"]
	path = deps/submodules/gim
	url = https://github.com/HantigC/gim.git
[submodule "deps/submodules/lightglue"]
	path = deps/submodules/lightglue
	url = https://github.com/HantigC/LightGlue.git
[submodule "deps/submodules/Hierarchical-Localization"]
	path = deps/submodules/Hierarchical-Localization
	url = https://github.com/HantigC/Hierarchical-Localization.git
[submodule "deps/submodules/fast3r"]
	path = deps/submodules/fast3r
	url = https://github.com/HantigC/fast3r.git
